.header__footer_list {
  font-size: 14px;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__footer_hours,
.header__footer__list-item,
.header__address {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
  margin: 0;
  color: #6f6f6f;
}

.footer {
  box-sizing: border-box;
  background-color: #152342;
  padding: 60px 80px 60px 80px;
}

.footer__content {
  display: flex;
  margin: 60px 100px 108px 80px;
  min-height: 0;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  color: #fff;
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0px;
}

.footer__social-heading {
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 16px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  padding-right: 8px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #fff;
  margin: 0;
}