.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  margin-bottom: 108px;
  justify-content: center;
}

.footer__social {
  margin-left: auto;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  color: #fff;
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0px;
}

.footer__social-heading {
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  padding-right: 8px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
}