.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 80px;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  column-gap: 20px;
  margin-top: 30px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: Inter, Arial;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title-container {
  margin-left: 80px;
  max-width: 729px;
  margin-top: 202px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}
.header__span-accent {
  font-family:Noto serif, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  color: #2f80ed;
  line-height: 72px;
}
.header__title {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  font-family: Noto serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  margin-left: 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top:124px;
}

.header__paragraph-contatiner {
  position: absolute;
  bottom: 40px;
  left: 80px;
}
.header__paragraph {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
  margin: 0;
  color: #6f6f6f;
}