.reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #D9E7FF;
  width: 100%;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reservation__title {
  margin-bottom: 80px;
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
}
